-#http://dotinstall.com/lessons/tablesort_jquery

%table
  %thead
    %tr
      %th.dothesort{ "data-type": "string" }
        名前
        %span
      %th.dothesort{ "data-type": "integer" }
        点数
        %span
  %tbody
    %tr
      %td yamada
      %td 32
    %tr
      %td yamagishi
      %td 4
    %tr
      %td aiko
      %td 53
    %tr
      %td aikou
      %td 12
