%canvas.html5_sample#sample{ width:"300", height:"150" }

%canvas.html5_sample#sample_color{ width:"300", height:"150" }

%canvas.html5_sample#sample_rect{ width:"300", height:"150" }
%canvas.html5_sample#sample_text{ width:"300", height:"150" }
%canvas.html5_sample#sample_text_align{ width:"300", height:"150" }

