= link_to 'Top Page', root_path
%br

%canvas.html5_sample#sample{ width:"300", height:"150" }

%canvas.html5_sample#sample_color{ width:"300", height:"150" }

%canvas.html5_sample#sample_rect{ width:"300", height:"150" }
%canvas.html5_sample#sample_text{ width:"300", height:"150" }
%canvas.html5_sample#sample_text_align{ width:"300", height:"150" }

%br
%canvas.html5_sample#sample_graph{ width:"400", height:"300" }

-#Table and divs that hold the pie charts
%table.columns
  %tr
    %td
      #piechart_div{ style: "border: 1px solid #ccc" }
    %td
      #barchart_div{ style: "border: 1px solid #ccc" }

%table#tbl
  %caption 会員数の推移
  %thead
    %tr
      %th 西暦
      %th 2003年
      %th 2004年
      %th 2005年
      %th 2006年
      %th 2007年
      %th 2008年
      %th 2009年
      %th 2010年
      %th 2011年
      %th 2012年
      %th 2013年
      %th 2014年
  %tbody
    %tr
      %th 会員数
      %td 230
      %td 198
      %td 200
      %td 227
      %td 289
      %td 408
      %td 721
      %td 1,085
      %td 1,223
      %td 1,302
      %td 1,318
      %td 1,275

= javascript_include_tag 'https://www.gstatic.com/charts/loader.js'
= javascript_include_tag 'partials/html5_canvas'
