.dialog
  %div.error
    %h1.error 403 Forbidden
    %p
      - case @exception
      - when ApplicationController::IpAddressRejected
        = "あなたのIPアドレス（#{request.ip}）からは利用できません。"
      - else
        = '指定されたページを閲覧する権限がありません。'
