// Place all the styles related to the misc controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

span.chars {
  cursor: pointer;

  &.seikai_char {
    color: red;
  }
}

span#penarty {
  color: orangered;
}