!!!
/ http://dotinstall.com/lessons/shindan_js_v2
%html{:lang => "ja"}
  %head
    %meta{:charset => "UTF-8"}/
    %title キャラ診断
    :css
      body { text-align: center;}
  %body
    %h1 キャラ診断
    %p
      %input#name{:type => "text", :value => ""}/
    %p
      %input#getResult{:type => "button", :value => "診断！"}/
    %h2 診断結果
    %p#result こちらに結果が表示されます。
    #tweet
    -#%script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"}
